body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.buttons-container {
    text-align: center;
}

.nav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #0056b3;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.img-container {
    width: 40%;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    width: 55%;
    padding-left: 20px;
}

.name {
    margin-top: 0;
}

.info {
    margin-bottom: 10px;
}